# HELP
alias cs="f(){ curl "cheat.sh/$1"; unset -f f; }; f"

# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcut
alias reload="source ~/.bash_profile"
alias _="sudo"
alias rr="rm -rf"
alias hosts="sudo $EDITOR /etc/hosts"
alias quit="exit"
alias l="ls -la"
alias ~="cd ~"
alias cdev="cd ~/dev"
alias cbin="cd ~/bin"
alias path="echo -e ${PATH//:/\\n}"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# npm
alias nreload="rm -rf node_modules/ package-lock.json && npm install"
alias ni="npm install"
alias cni="cnpm install"
alias ns="kill -9 $(lsof -ti:3000,3001) && npm start"

# Network
alias pingg="ping www.google.com"
alias pingb="ping www.baidu.com"

# HTTP Proxy
alias enable-vpn="export http_proxy='http://localhost:8010' && curl cip.cc"
alias disable-vpn="unset http_proxy && curl cip.cc"
alias vpn-status="curl cip.cc"
alias whereami='curl cip.cc'
alias pubip='curl ifconfig.cc; echo'

# 开启 GoLang 1.17.x 泛型特性
alias grg="go run -gcflags=-G=3"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# nginx
alias ng='nginx' # ng -t

# redis
alias rds-install='brew update; brew install redis'
alias rds-server='redis-server /usr/local/etc/redis.conf'
alias rds-cli='redis-cli'
alias rds-ping='redis-cli ping'
