[user]
	name = Luca
	email = shaohsiung@163.com
[core]
	excludesfile = /Users/luca/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/luca/.stCommitMsg
[url "https://github.com.cnpmjs.org/"]
	installOf = https://github.com/
	insteadOf = https://github.com/
